.bg-img {
  background-image: url('../../../assets/images/nathan-dumlao-x7Lyx8Yyvug-unsplash-Sharpened.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
