<div class="page page-start">
  <carousel cellWidth="100%" cellsToShow="1" dots="true" style="">
    <div *ngFor="let item of carouselItems" class="carousel-cell">
        <div class="step">
          <img src="{{ item.image }}" alt="" />
          <h3 class="title">{{item.title}}</h3>
          <p class="description">{{item.desc}}</p>
        </div>
    </div>
  </carousel>

  <div class="btn-container">
    <button class="btn btn-start" (click)="loginPage()">get started</button>
  </div>
</div>
