<div class="page page-start">
  <div class="step-container">
    <div class="step">
      <img src="" alt="" />
      <h3 class="title">wear mask</h3>
      <p class="description">it reduces you risk of getting the virus</p>
    </div>
    <div class="step">
      <img src="" alt="" />
      <h3 class="title">wash you hand</h3>
      <p class="description">it reduces you risk of getting the virus</p>
    </div>
    <div class="step">
      <img src="" alt="" />
      <h3 class="title">use hand sanitizer</h3>
      <p class="description">it reduces you risk of getting the virus</p>
    </div>
  </div>

  <div class="btn-container">
    <button class="btn btn-start">get started</button>
  </div>
</div>
