$dark-green: #055702;
$light-green: #307330;
$color-gold: gold;

body {
    margin: 0;
}
@mixin authForm {
    display: flex;
    flex-direction: column;
    .form {
        &-container {
            //flex: 1;
            background: linear-gradient($dark-green, $light-green);
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    .spacer {
        text-align: center;
        text-transform: capitalize;
        position: relative;
        font-size: 20px;
        padding: 15px 0;
        &::before,
        &::after {
            content: "";
            height: 1px;
            background: white;
            width: 40%;
            position: absolute;
            top: 25px;
        }
        &::after {
            left: 15px;
        }
        &::before {
            right: 15px;
        }
    }
    .btn {
        &-container {
            margin-top: 15px;
            text-align: center;
        }
    }
}

.btn {
    max-width: 200px;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border-radius: 25px;
    outline: none;
    border: none;
    text-transform: capitalize;
    color: black;
    background: $color-gold;
    font-weight: 600;
    &-pager {
        background: white;
    }
}
.hide {
    display: none;
}
.page {
    min-height: 100vh;
    border: black solid;
    margin-top: 20px;
    &-start {
        background: linear-gradient($dark-green, $light-green);
        padding: 15px;
        .btn {
            &-container {
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        .step-container {
            padding: 30px;
            .step {
                height: 375px;
                background: $light-green;
                border-radius: 50px;
                display: flex;
                flex-direction: column;
                padding: 15px;
                .title,
                .description {
                    text-align: center;
                    color: white;
                }
                .title {
                    font-size: 20px;
                    margin: 15px 0;
                }
                .description {
                    margin: 0;
                }
                img {
                    flex: 1;
                    border: red solid;
                }
                &:not(:first-child) {
                    display: none;
                }
            }
        }
    }
    &-hero {
        min-height: 200px;
        flex: 1;
        background: white;
    }
    &-signup,
    &-login {
      @include authForm()
    }
}

.form {
    &-group {
        margin: 0 15px 15px;
        position: relative;
        display: block;
        label {
            font-size: 16px;
            text-transform: capitalize;
            color: white;
            position: absolute;
            top: 15px;
            left: 5px;
        }
    }
    &-control {
        border: none;
        width: 100%;
        max-width: 100%;
        font-size: 16px;
        background: transparent;
        border-bottom: solid 1px white;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
        color: white;
    }
}
