body {
  margin: 0;
}

.btn {
  max-width: 200px;
  width: 100%;
  font-size: 18px;
  padding: 5px;
  border-radius: 25px;
  outline: none;
  border: none;
  text-transform: capitalize;
  color: black;
  background: gold;
  font-weight: 600;
}

.btn-pager {
  background: white;
}

.hide {
  display: none;
}

.page {
  min-height: 100vh;
  border: black solid;
  margin-top: 20px;
}

.page-start {
  background: -webkit-gradient(linear, left top, left bottom, from(#055702), to(#307330));
  background: linear-gradient(#055702, #307330);
  padding: 15px;
}

.page-start .btn-container {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-start .step-container {
  padding: 30px;
}

.page-start .step-container .step {
  height: 375px;
  background: #307330;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.page-start .step-container .step .title,
.page-start .step-container .step .description {
  text-align: center;
  color: white;
}

.page-start .step-container .step .title {
  font-size: 20px;
  margin: 15px 0;
}

.page-start .step-container .step .description {
  margin: 0;
}

.page-start .step-container .step img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: red solid;
}

.page-start .step-container .step:not(:first-child) {
  display: none;
}

.page-hero {
  min-height: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
}

.page-signup, .page-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-signup .form-container, .page-login .form-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#055702), to(#307330));
  background: linear-gradient(#055702, #307330);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-signup .spacer, .page-login .spacer {
  text-align: center;
  text-transform: capitalize;
  position: relative;
  font-size: 20px;
  padding: 15px 0;
}

.page-signup .spacer::before, .page-signup .spacer::after, .page-login .spacer::before, .page-login .spacer::after {
  content: "";
  height: 1px;
  background: white;
  width: 40%;
  position: absolute;
  top: 25px;
}

.page-signup .spacer::after, .page-login .spacer::after {
  left: 15px;
}

.page-signup .spacer::before, .page-login .spacer::before {
  right: 15px;
}

.page-signup .btn-container, .page-login .btn-container {
  margin-top: 15px;
  text-align: center;
}

.form-group {
  margin: 0 15px 15px;
  position: relative;
  display: block;
}

.form-group label {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  position: absolute;
  top: 15px;
  left: 5px;
}

.form-control {
  border: none;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  background: transparent;
  border-bottom: solid 1px white;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */