<section class="bg-img">
  <div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh">
      <div class="card bg-authentication rounded-0 mb-0">
        <div class="row m-0">
            <div class="col-12 p-0">
                <div class="card rounded-0 mb-0 px-2">
                    <div class="card-header pb-1">
                        <div class="card-title">
                            <h4 class="mb-0">Sign up here</h4>
                        </div>
                    </div>
                    <p class="px-2">Welcome back, please login to your account.</p>
                    <div class="card-content">
                      <ng-container *ngIf="signupError.status">
                        <div class="alert alert-danger mt-1 alert-validation-msg" role="alert">
                          <i class="feather icon-info mr-1 align-middle"></i>
                          <span>{{ signupError.message }}</span>
                        </div>
                      </ng-container>
                      <div class="card-body pt-1">
                          <form [formGroup]="form" (ngSubmit)="onSubmit(formData)">
                              <fieldset class="form-label-group form-group position-relative has-icon-left">
                                  <input type="text" [ngClass]="{'form-control' : true,
                                                        'is-invalid' : (formData.name.dirty || formData.name.touched) && formData.name.invalid,
                                                        'is-valid' : (formData.name.dirty || formData.name.touched) && formData.name.valid
                                                      }" id="name" formControlName="name" placeholder="John Doe" required>
                                  <div class="form-control-position">
                                      <i class="feather icon-user"></i>
                                  </div>
                                  <label for="name">Name</label>

                                  <ng-container *ngIf="(formData.name.dirty || formData.name.touched) && formData.name.invalid">
                                    <div *ngIf="formData.name.errors.required" class="invalid-feedback">Full Name is required</div>
                                  </ng-container>
                              </fieldset>

                              <fieldset class="form-label-group form-group position-relative has-icon-left">
                                <input type="email" [ngClass]="{'form-control' : true,
                                                      'is-invalid' : (formData.email.dirty || formData.email.touched) && formData.email.invalid,
                                                      'is-valid' : (formData.email.dirty || formData.email.touched) && formData.email.valid
                                                    }" id="email" formControlName="email" placeholder="email@covid.com" required>
                                <div class="form-control-position">
                                    <i class="feather icon-user"></i>
                                </div>
                                <label for="email">email</label>

                                <ng-container *ngIf="(formData.email.dirty || formData.email.touched) && formData.email.invalid">
                                  <div *ngIf="formData.email.errors.email" class="invalid-feedback">Please Enter Valid Email</div>
                                  <div *ngIf="formData.email.errors.required" class="invalid-feedback">Email is required</div>
                                </ng-container>
                              </fieldset>

                              <fieldset class="form-label-group position-relative has-icon-left">
                                <input type="text" [ngClass]="{'form-control' : true,
                                                          'is-invalid' : (formData.phone.dirty || formData.phone.touched) && formData.phone.invalid,
                                                          'is-valid' : (formData.phone.dirty || formData.phone.touched) && formData.phone.valid
                                                        }" id="phone" formControlName="phone" placeholder="08020000000" required>
                                <div class="form-control-position">
                                    <i class="feather icon-lock"></i>
                                </div>
                                <label for="phone">Phone Number</label>

                                <ng-container *ngIf="(formData.phone.dirty || formData.phone.touched) && formData.phone.invalid">
                                  <div *ngIf="formData.phone.errors.required" class="invalid-feedback">Phone Number is required</div>
                                  <div *ngIf="formData.phone.errors.minLength" class="invalid-feedback">Phone Number should be 11 digits</div>
                                  <div *ngIf="formData.phone.errors.pattern" class="invalid-feedback">Enter Valid Phone Number</div>
                                </ng-container>
                              </fieldset>

                              <fieldset class="form-label-group position-relative has-icon-left">
                                  <input type="password" [ngClass]="{'form-control' : true,
                                                            'is-invalid' : (formData.password.dirty || formData.password.touched) && formData.password.invalid,
                                                            'is-valid' : (formData.password.dirty || formData.password.touched) && formData.password.valid
                                                          }" id="password" formControlName="password" placeholder="Password" required>
                                  <div class="form-control-position">
                                      <i class="feather icon-lock"></i>
                                  </div>
                                  <label for="password">Password</label>

                                  <ng-container *ngIf="(formData.password.dirty || formData.password.touched) && formData.password.invalid">
                                    <div *ngIf="formData.password.errors.required" class="invalid-feedback">Password is required</div>
                                  </ng-container>
                              </fieldset>
                              <div class="d-flex justify-content-center align-items-center">
                                <button [disabled]="!form.valid" type="submit" class="btn btn-primary text-center btn-inline">Sign Up</button>
                              </div>
                          </form>
                          <div class="divider">
                            <div class="divider-text">OR</div>
                          </div>
                          <div class="d-flex justify-content-center align-items-center">
                            <button class="btn btn-outline-primary btn-inline" [routerLink]="['/auth/login']">Login</button>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
