$dark-green: #055702;
$light-green: #307330;
$color-gold: gold;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
